<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d (%F:%L) %-5p - %m%n" />
		</Console>

		<RollingFile name="FILEOUT" fileName="/www/applog/mvc_exception/app.log"
			filePattern="/www/applog/mvc_exception/app-%d{yyyy-MM-dd}-%i.log">

			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="512 MB" />
			</Policies>
			<PatternLayout pattern="%d (%F:%L) %-5p - %m%n" />
		</RollingFile>

		<RollingFile name="FILE_PAY_REQUEST" fileName="/www/applog/mvc_exception/pay_request.log"
			filePattern="/www/applog/mvc_exception/pay_request-%d{yyyy-MM-dd}-%i.log">

			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="512 MB" />
			</Policies>
			<PatternLayout pattern="%d (%F:%L) %-5p - %m%n" />
		</RollingFile>

		<RollingFile name="REQUEST_HANDLE"
					 fileName="/www/applog/mvc_exception/request_handle.log"
					 filePattern="/www/applog/mvc_exception/request_handle-%d{yyyy-MM-dd}-%i.log">
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
										   modulate="true" />
				<SizeBasedTriggeringPolicy size="512 MB" />
			</Policies>
			<PatternLayout pattern="%d (%F:%L) %-5p - %m%n" />
		</RollingFile>




		
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILEOUT" />
		</Root>

		<Logger name="com.ghw.sdk.bkd" level="debug">
		</Logger>

		<Logger name="druid.sql.Statement" level="debug">
			<AppenderRef ref="STDOUT" />
		</Logger>



		<Logger name="com.ghw.sdk.bkd" level="debug">
		</Logger>
		<Logger name="pay.request" level="debug" additivity="false">
			<AppenderRef ref="FILE_PAY_REQUEST" />
		</Logger>



	</Loggers>
</Configuration>